body {
  position: relative;
  font-family: 'Lato', "PingFang SC", "Microsoft YaHei", sans-serif;
  font-size: 14px;
  line-height: 2;
  color: #555;
  background: #fff;
}

h1, h2, h3, h4, h5, h6 {
  margin: 20px 0 10px;
  padding: 0;
  font-weight: bold;
  line-height: 1.5;
}

h1 {
	font-size: 24px;
}

h2 {
	font-size: 22px;
}

h3 {
	font-size: 20px;
}

h4 {
	font-size: 18px;
}

.posts-expand .post-body h2,
.posts-expand .post-body h3,
.posts-expand .post-body h4,
.posts-expand .post-body h5,
.posts-expand .post-body h6 {
  padding-top: 10px;
}

.header-inner {
  width: 700px;
  /*padding: 25px 0 20px;*/
  margin: 0 auto;
}

.main {
  padding-top: 85px;
  padding-bottom: 150px;
}

.main-inner {
  margin: 0 auto;
  width: 700px;
}

.main-inner {
  /*margin-top: 75px;*/
}

.post-title {
	position: relative;
	font-size: 26px;
	font-weight: 400;
	text-align: center;
	margin-bottom: 30px;
}

#new-post {
  margin-top: 80px;
}

a.brand {
  padding: 0;
}

a.brand img {
  width: 58px;
  height: 50px;
}

.site-meta {
  text-align: left;
  float: left;
  margin-left: -20px;
  line-height: normal;
}

.brand {
  position: relative;
  display: inline-block;
  padding: 0 40px;
  color: #fff;
  background: #222;
  border-bottom: none;
}

.site-meta .brand {
  padding: 2px 1px;
  background: none;
}

.site-title {
  display: inline-block;
  vertical-align: top;
  line-height: 36px;
  font-size: 20px;
  font-weight: normal;
  font-family: 'Lato', "PingFang SC", "Microsoft YaHei", sans-serif;
}

.site-meta .custom-logo-site-title {
  padding: 5px 0px;
}

.site-meta .site-title {
  font-size: 22px;
  font-weight: bolder;
}

.logo-line-before, .logo-line-after {
  display: block;
  overflow: hidden;
  margin: 0 auto;
  width: 75%;
}

.logo-line-before i, .logo-line-after i {
  position: relative;
  display: block;
  height: 2px;
  background: #fff;
}

.logo-line-before i {
  left: -100%;
}

.logo-line-after i {
  right: -100%;
}

#login {
  width: 360px;
  margin: 0 auto;
}

#edit {
  margin-left: -50px;
  margin-right: auto;
  width: 700px;
}