body {
	margin-top: 70px;
}

@media (min-width: 768px) { 
    .group2 {
        text-align: right;
    }
}

#edit-page-content {
	padding-bottom: 60px
}

#post-page-content {
	padding-bottom: 60px
}

footer p {
	text-align: center;
}

footer div.container {
	padding: 0px;
	margin: 0px;
	width: auto;
}

.text-center {
	text-align: center;
}

.post-meta {
	margin-top: 5px;
	margin-bottom: 20px;
	text-align: left;
	font-size: 12px;
}

.post-meta-divider {
	margin: 0 0.5em;
}

.post-meta-item-text {
	margin-left: 0.5em;
}

section.posts-expand .post {
	margin-top: 80px;
}

/* 文章列表中的第一个条目去掉外边距 */
section.posts-expand .post:first-child {
	margin-top: 0px;
}

#new-post {
	margin-top: 20px;
}

label#tags, label#category {
	display: inline;
}