{% extends "bootstrap/base.html" %}

{%- block styles %}
    {{ super() }}
    <link href="{{bootstrap_find_resource('css/bootstrap-theme.css', cdn='bootstrap')}}" rel="stylesheet" media="screen">
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet" type="text/css">
{%- endblock styles %}

{% block title %}zhiwei's blog{% endblock %}

{% block body -%}
    {{ super() }}
    <header id="header" class="navbar navbar-inverse navbar-static-top bs-docs-nav" role="banner">
	    <div class="header-inner">
            <div class="site-brand-wrapper">
                <div class="site-meta">
                    <div class="custom-logo-site-title">
                        <a href="{{ url_for('main.index') }}" class="brand" rel="start">
                            <span class="logo-line-before">
                                <i style="transform: translateX(100%);"></i>
                            </span>
                            <span class="site-title" style="opacity: 1; top: 0px">zhiweiX </span>
                            <span class="logo-line-after">
                                <i style="transform: translateX(-100%);"></i>
                            </span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="navbar-header">
                <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
	    	<nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
                <ul class="nav navbar-nav navbar-right">
                    <li id="li-index"><a href="{{ url_for('main.index') }}">首页</a></li>
                    <li id="li-dao"><a href="{{ url_for('main.category_dao') }}">道</a></li>
                    <li id="li-fa"><a href="{{ url_for('main.category_fa') }}">法</a></li>
                    <li id="li-shu"><a href="{{ url_for('main.category_shu') }}">术</a></li>
                    <li id="li-guanyu"><a href="#">关于</a></li>
                    {% if current_user.is_authenticated %}
                    <li><a href="{{ url_for('auth.logout') }}">Log Out</a></li>
                    {% endif %} 
                </ul> 
            </nav>
	    </div>
    </header>

    {% block home_page_content -%}
    {%- endblock home_page_content %}

    {% block edit_page_content -%}
    {%- endblock edit_page_content %}

    {% block post_page_content -%}
    {%- endblock post_page_content %}

    {% block login_page_content -%}
    {%- endblock login_page_content %}

    <footer id="blogFooter">
        <p>Copyright © zhiweiX 2017. All rights reserved.</p>
    </footer>
{%- endblock body %}

{% block scripts %}
{{ super() }}
{{ moment.include_moment() }}
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
<script src="{{ url_for('static', filename='js/bootbox.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/blog.js') }}"></script>
{% endblock scripts %}
