{% extends "bootstrap/base.html" %}

{%- block styles %}
    {{ super() }}
    <link href="{{bootstrap_find_resource('css/bootstrap-theme.css', cdn='bootstrap')}}" rel="stylesheet" media="screen">
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" type="text/css">
{%- endblock styles %}

{% block title %}zhiwei's blog{% endblock %}

{% block navbar %}
<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<nav class="navbar navbar-default navbar-inverse" role="navigation">
				<div class="navbar-header">
					<a class="navbar-brand" href="#">zhiwei's blog</a>
				</div>
				<ul class="nav navbar-nav">
					<li class="active">
						<a href="#">道</a>
					</li>
					<li>
						<a href="#">法</a>
					</li>
					<li>
						<a href="#">术</a>
					</li>
					<li>
						<a href="#">关于</a>
					</li>
				</ul>
			</nav>
		</div>
	</div>
</div>
{% endblock %}

{% block content %}
{% endblock %}