{% extends "base.html" %}
{%- block styles %}
    {{ super() }}
    <link href="{{ url_for('static', filename='css/open-source/selectize.default.css') }}" rel="stylesheet" type="text/css">
{%- endblock styles %}

{% block edit_page_content -%}
{{ super() }}
<div id="edit" class="container">
	<form action="{{ url_for('main.edit_blog') }}" method="post">
		{{ form.hidden_tag() }}
		<div class="form-group form-input">
			<label for="input-title" class="control-label">Title:</label>
			<div>
				{{ form.title(class="form-control", id="input-tilte", placeholder="Title") }}
			</div>
		</div>
		<div class="form-group form-input input-inline">
			<label for="input-category">Category:</label>
			<div>
				{{ form.category(id="input-category", placeholder="Category") }}
			</div>
		</div>
		<div class="form-group form-input input-inline">
			<label for="inputCategory">Tags:</label>
			<div>
				<!-- 不用 form-control 是因为selectize本事也带了表带样式 -->
				{{ form.tags(id="input-tags", placeholder="Tags") }}
			</div>
		</div>
		<div class="form-group form-input">
			<div>
				{{ form.summary(class="form-control", id="inputContent", rows="3", placeholder="Summary input") }}
			</div>
		</div>
		<div class="form-group form-input">
			<div>
				{{ form.body(class="form-control", id="inputContent", rows="20", placeholder="Content input") }}
			</div>
		</div>
		<div class="form-group form-input">
			<div >
				{{ form.submit(class='btn btn-default') }}
			</div>
		</div>
	</form>
</div>
{%- endblock edit_page_content %}

{% block scripts %}
{{ super() }}
<script src="{{ url_for('static', filename='js/selectize.js') }}"></script>
<script>
	$(function() {
		$('#input-tags').selectize({
			persist: false,
			createOnBlur: true,
			create: function(input) {
				return {
					value: input,
					text: input
				}
			}
		});
		$('#input-category').selectize({
			persist: false,
			createOnBlur: true,
			create: true
		});
	});
</script>
{% endblock %}