{% extends "base.html" %}

{% block home_page_content -%}
<section class="container posts-expand">
		{% for post in posts %}
		<article class="post">
			<h2 class="post-title">
				<a class="post-title-link" href="{{ url_for('main.get_article', id=post.id, _external=True) }}">{{ post.title }}</a>
			</h2>
			<div class="post-meta">
				<span class="glyphicon glyphicon-calendar"></span>
				<span class="post-meta-item-text">发表于</span>
				{{ moment(post.timestamp).format("YYYY-MM-DD") }}
				<span class="post-meta-divider">|</span>
				<span class="glyphicon glyphicon-folder-open"></span>
				<span class="post-meta-item-text">分类于</span>
				<span class="post-meta-category">
					<a href="#">{{ post.category.name }}</a>
				</span>
			</div>
			{% if current_user.is_authenticated %}
			<div>
				<a href="{{ url_for('main.modify_blog', id=post.id, _external=True) }}">
					<span class="label label-primary">Modify</span>
				</a>
				<a href="{{ url_for('main.delete_blog', id=post.id, _external=True) }}" class="deleteBlog">
					<span class="label label-danger">Delete</span>
				</a>
			</div>
			{% endif %}
		</article>
		{% endfor %} {% if current_user.is_authenticated %}
		<a id="new-post" href="{{ url_for('main.edit_blog') }}" class="btn btn-primary" role="button">New Post</a>
		{% endif %}
</section>
{%- endblock home_page_content %}