{% extends "base.html" %}

{% block home_page_content -%}
	<section id="posts" class="container posts-expand">
		{% for post in posts %}
		<div class="row post">
			<div class="col-md-2 col-sm-2 col-xs-2"></div>
			<div class="col-md-8 col-sm-8 col-xs-8">
				<article>
					<h2><a href="{{ url_for('main.get_article', id=post.id, _external=True) }}">{{ post.title }}</a></h2>
					<div class="post-meta">
						<span class="glyphicon glyphicon-calendar"></span> 
						<span class="post-meta-item-text">发表于</span> 
						{{ moment(post.timestamp).format("YYYY-MM-DD") }}
						<span class="post-meta-divider">|</span>
						<span class="glyphicon glyphicon-folder-open"></span>
						<span class="post-meta-item-text">分类于</span>
						<span class="post-meta-category">
							<a href="#">{{ post.category.name }}</a>
						</span>
					</div>
					{% if current_user.is_authenticated %}
					<div>
						<a href="{{ url_for('main.modify_blog', id=post.id, _external=True) }}">
							<span class="label label-primary">Modify</span>
						</a>
						<a href="{{ url_for('main.delete_blog', id=post.id, _external=True) }}">
							<span class="label label-danger">Delete</span>
						</a>
					</div>
					{% endif %}
				</article>
			</div>
			<div class="col-md-2 col-sm-2 col-xs-2"></div>
		</div>
		{% endfor %}
		{% if current_user.is_authenticated %}
		<div class="row">
			<div class="col-md-2"></div>
			<div class="col-md-10">
				<a id="new-post" href="{{ url_for('main.edit_blog') }}" class="btn btn-primary" role="button">New Post</a>
			</div>
		</div>
		{% endif %}
	</section>
{%- endblock home_page_content %}