{% extends "base.html" %}
{%- block styles %}
    {{ super() }}
{%- endblock styles %}

{% block edit_page_content -%}
{{ super() }}
<div class="container" id="edit-page-content">
	<form role="form" action="{{ url_for('main.modify_blog', id=id) }}" method="post">
		{{ form.hidden_tag() }}
		<div class="form-group form-input">
			<label for="input-title" class="control-label">Title:</label>
			<div>
				{{ form.title(class="form-control") }}
			</div>
		</div>
		<div class="form-group form-input input-inline">
			<label for="input-category">Category:</label>
			<div>
				{{ form.category(class="form-control", id="input-category") }}
			</div>
		</div>
		<div class="form-group form-input input-inline">
			<label for="inputCategory">Tags:</label>
			<div>
				{{ form.tags(class="form-control", id="input-tags") }}
			</div>
		</div>
		<div class="form-group form-input">
			<div>
				{{ form.summary(class="form-control", rows="3") }}
			</div>
		</div>
		<div class="form-group form-input">
			<div>
				{{ form.body(class="form-control", rows="20") }}
			</div>
		</div>
		<div class="form-group form-input">
			<div >
				{{ form.submit(class='btn btn-default') }}
			</div>
		</div>
	</form>
</div>
{%- endblock edit_page_content %}

{% block scripts %}
{{ super() }}
{% endblock %}
