{% extends "base.html" %}

{%- block styles %}
    {{ super() }}
    <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet" type="text/css">
{%- endblock styles %}

{% block post_page_content -%}
<main id="main" class="main">
	<div class="main-inner">
		<div class="content-wrap">
			<div id="content" class="content">
				<div id="posts" class="posts-expand">
					<article class="post post-type-normal">
						<header class="post-header">
							<h2 class="post-title">{{ article.title }}</h2>
						</header>
						<div class="post-body">
							{{ article.body | safe }}
						</div>
					</article>
				</div>
			</div>
		</div>
	</div>
</main>
{%- endblock post_page_content %}